.box {
  background-color: #2c2c2c62;
  border-radius: 3px;
  border-top: 2px solid white;
  padding: 4% 6% 5% 4%;
}
.input-container {
  position: relative;
  margin-bottom: 25px;
}
.input-container label {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 14px;
  color: #fff;
  transition: all 0.5s ease-in-out;
}
.input-container input {
  border: 0;
  border-bottom: 1px solid #555;
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 16px;
  color: #fff;
}
.input-container input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #e74c3c;
}
.button {
  color: #fff;
  background-color: #e74c3c;
  outline: none;
  border: 0;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  margin-top: 50px;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
}
/* .btn:after{
	content:"";
	position:absolute;
	background:rgba(0,0,0,0.50);
	top:0;
	right:0;
	width:100%;
	height:100%;
} */
.input-container input:focus ~ label {
    top: -12px;
    font-size: 12px;
}
.input-container input:invalid ~ label {
    top: -12px;
    font-size: 12px;
}

.text-area {
  width: 100%;
  height: 100px;
  background: transparent;
  /* opacity: 0.5; */
  border-top: none;
  border-left: none;
  border-right: none;
  resize: none;
  font-family: inherit;
}

.text-area::placeholder {
  color: white;
}

.text-area:focus {
  outline: none !important;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #e74c3c;
  transform: scale(1.01);
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(255, 255, 255, 0.747);
  color: #121212;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  margin-left: 5px;
}

.tooltip .tooltiptext {
  top: -5px;
  left: 105%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}